*{
    padding: 0;
    margin: 0;
    border: 0;
}
.code{
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #ffeae4;
    background: hsl(220, 13%, 18%);
    width: 45%;
    margin: 15px;
}
body{
    background: #17202A;
    color: #FBFCFC;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #E74C3C;
    margin-bottom: 7px;
}
p{
    color: #1C2833;
}
b{
    color: black;
}
.titular{
    background: #58D68D;
    opacity: .8;
}
.panel{
    background: #F39C12;
    margin: 15px 30px;
    padding: 15px;
    opacity: .9;
}

/*$ ##################################################### Display - Grid & template ##################################################### */
.grid-container{
    margin: 20px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100fr 100fr;
}
.grid-item{
    border: 2px solid white;
}
/*$ ##################################################### Display - Grid & template ##################################################### */

.grid-container-gap{
    margin: 20px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100fr 100fr;
    grid-gap: 10px;
    border: 1px solid black;
}
.grid-item{
    border: 2px solid white;
}
/*$ ##################################################### Asignacion de Espacio ##################################################### */
.grid-container-1{
    margin: 20px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border: 1px solid black;
}
.grid-item-1{
    border: 2px solid white;
}
.grid-item-1:first-child{
    background: brown;
    grid-column: 1/span 2;
    grid-row: 1/ span 1;
}
/*#Para seleccion un elemento utilizamos :nth-child(*elemento*) */
.grid-item-1:nth-child(2){
    background: green;
}
.grid-item-1:nth-child(3){
    background: pink;
}
.grid-item-1:nth-child(9){
    background: black;
}
/*$ ##########################################################  repeat()  ######################################################### */
.container-repeat{
    margin: 20px;
    display: grid;
    height: 600px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.item-r{
    border: 1px solid green;
}
/*$ ##########################################################  grid-auto  ######################################################### */
.grid-container-a{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-auto-columns: 100px;
    grid-auto-flow: column;
}
.item-a{
    border: 2px solid black;
}
/*$ ########################################################  grid-dinamico  ####################################################### */
.container-dinamic{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2,100px);
    background: chocolate;

}
.item-dinamic{
    border: 1px solid white;
    background: coral;
}

/*$ ##########################################################  alineacion  ######################################################### */
.container-alinea{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(3,150px);
    background: chocolate;
    justify-items: end;
    align-items: start;

}
.item-alinea{
    border: 1px solid white;
    background: black;
    font-size: 30px;
    padding: 15px;

}
/*! ###########################  alineacion part 2 ############################ */

.container-alinea-2{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3,150px);
    background: chocolate;
    justify-content: space-evenly;/* eje horizontal */
    align-content: space-evenly; /* eje vertical */
    height: 800px;
}
.item-alinea-2{
    border: 1px solid white;
    background: black;
    font-size: 30px;
    padding: 15px;

}
/*! #########################  alineacion part 3 ############################# */
.main-container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3,150px);
    background: black;
    justify-content: center;/* eje horizontal */
    align-content: none; /* eje vertical */
    height: 500px;
}
.item-alinea-3{
    border: 1px solid blue;
    background: rgb(94, 207, 151);
    opacity: .8;
    font-size: 30px;
    padding: 15px;
    color: blueviolet;
}
.item-alinea-3:nth-child(1){
    color: brown;
    align-self: end; /* eje horizontal */
    justify-self: end; /* eje vertical */
}

/*$ ##########################################################  grid-area  ######################################################### */
.grid-containerr{
    background: #808B96;
    margin: 10px;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main aside"
    "main main aside"
    "footer footer footer";
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 70vh;
    border: 5px solid black;

}
.grid-itemm{
    padding: 20px;
}
.grid-header{
    background: #5DADE2;
    grid-area: header;
}
.grid-main{
    background: #FF7043;
    grid-area: main;
}
.grid-aside{
    background: #27AE60;
    grid-area: aside;

}
.grid-footer{
    background: #c27746;
    grid-area: footer;

}
/*$ ##########################################################  grid-line  ######################################################### */
.grid-container-line{
    background: #444;
    display: grid;
    grid-template-rows: repeat(3,200px);
    grid-template-columns: repeat(3,200px);
    color: white;
}
.grid-item-l{
    border: 2px solid white;
    background: hsl(220, 66%, 63%);

}